/****** Base Style ******/
body  {
  display: flex;
  margin: 0;
}

header  {
  font-size: 150%;
  font-weight: bold;
}

#main-title-header {
  height: auto;
  border-bottom: 2px solid  slategray;
}

h1  {
  font-size: 2.25vw;
  text-align: center;
}

#navbar {
  display: flex;
  flex: 25%; /* sets column width? */
  width: 25%;
  flex-direction: column;
  /* height: auto; */
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
  border-right: 2px solid  slategrey;
  border-bottom: 2px solid  slategray;

}

.nav-link {
  display: block;
  /* width: 100%; */
  height: 50px;
  /* padding-left: 2.5%; */
  padding: 5% 2.25% 5% 4.5%;
  color: darkslategray;
  text-decoration: none;
  font-size: 18px;
  /* margin: auto 0; */
  border-bottom: 1px solid  slategray;
}

#main-doc {
  flex: 75%;
  width: 75%;
  height: auto;
  padding: 3% .5% 3% 2%;
  margin-left: 25%;
  line-height: 1.6;
}

span  {
  text-decoration: dotted underline;
}

pre   {
  background-color: #f0f8ff;
  /* width: 80%; */
  /* min-width: 300px; */
  border-left: 6px solid #6495ed;
  /* counter-reset: line; */
}

pre > code {
  /* display: block; */
}

/*
pre > code:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
}
*/

.note   {
  width: 600px;
  /* min-width: 300px; */
  padding: .15%;
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}


@media screen and (max-width: 600px)  {
  body {
    max-width: 100%;
    min-width: 300px;
  }

  #navbar  {
    background-color: white;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    border-right: none;
    height: auto;
  }

  h1  {
    font-size: 5vw;
    text-align: center;
    padding-top: 1.5%;
  }

  .nav-link {
    height: auto;
    /* text-align: center; */
    padding: 1% 1% 1% 1.5%;
  }

  #main-doc {
    margin: 1%;
    padding: 300px 1.5% 0 1.5%;
    max-width: 100%;
    min-width: 300px;
    /* height: auto; */
  }

  .main-section {
    /* margin-top: 1%; */
    padding-top: 50px;
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }

  pre {
    width: 100%;
    min-width: 300px;
  }

  pre > code {
    width: 100%;
    min-width: 300px;
  }

  .note {
    width: 100%;
    min-width: 300px;
  }
}
